<div class="col-xs-12 col-sm-4">
    <div class="z-depth-1-half mb-4 centering">
        <img src=<%= asset_path 'book.png' %> style="border-radius: 10px; border: 2px solid #a1a4a8;">
        <label class="btn btn-primary btn.round"> Upload Book Cover<input type="file" hidden></label>
    </div>
</div>
<%= form_for @book do |f| %>
    <div class="col-xs-12 col-sm-8">
        <ul class="list-group">
            <div class="form-group">
                <%= f.label "ISBN:", :style => 'text-transform: uppercase;' %>
                <%= f.text_field :isbn, class: 'txt-in' %>
            <div class="form-group">
                <%= f.label :book_title %>
                <%= f.text_field :title, class: 'form-control', :placeholder => 'Title' %>
            </div>
            <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, class: 'form-control', rows: '5', :placeholder => 'Description ...' %>
            </div>
            <div class="form-group">
                <%= f.label "Author(s)" %>
                <%= f.select :authors, @authors.collect {|x| [x.name]}, {}, :multiple => true, :data => {:placeholder => 'Author(s) ...'}, :include_blank => true, :id => "authors_select" %>
            </div>
            <div class="form-group">
                <%= f.label :category %>
                <%= f.select(:category, ['Art', 'Education', 'Business', 'Sport'], {}, { :class => 'form-control', :id => "sel1" }) %>
            </div>
        </ul>
    </div>
    <div class= "center-btn ">
        <%= f.submit "Add Book", :class => 'btn btn-primary btn.round' %>
    </div>
<% end %>