<!DOCTYPE html>
<html>
<head>
  <title>Book Shelf</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <nav class="navbar navbar-default" style="margin-bottom: 0px;">
    		<div class="container-fluid" style="background-color: #0068CB;">
	        	<!-- Logo -->
	        	<div class="navbar-header" >
	            	<a class="navbar-brand" style="padding: 5px 5px;">
	            		<img src=<%= asset_path 'logo.png' %>>
	            	</a>
	            	<div style="margin: 10px 2px; float: left;">
	            		<b style="color: white; font-size: 180%;">BookShelf</b>
	            	</div>
		        </div>
		        <%= form_tag("/home/search", method: "get") do %>
					<input type="text" placeholder="Search.." id="search" class="search" name="search" required="true" style="margin: 15px 100px;">
			  	<% end %>
	    	    <div>
	        	    <ul class="nav pull-right", style="padding: 15px 15px">
	        	    	<% if !(@admin) %>
		            	    <button id="logInBtn" class="button" onclick="showLoginForm()">
		            	    	login as admin
		            	    </button>
		            	<% else %>
		            		<button class="dropbtn" id="dropBtn" onclick="toggleDropdown()">Admin Name</button>
					    	<div class="dropdown-content" id="logOutDropdown">
					      		<%= link_to "Add admin", "/home/admin" %>
					      		<%= link_to "log out", "/home/admin" %>
					    	</div>
		            	<% end %>
	            	</ul>
	        	</div>
	    	</div>
		</nav>
</head>

<body>
  
<%= yield %>

</body>
</html>
