<% @categories.each do |category| %>
    <div align="center" class="mytextdiv" style="width: 1080px; height: 290px; margin-bottom: 30px; ">
        <div class="titlebox">
            <i style="font-size:16px; margin: 0px 5px; border: 1px solid #e7e7e7; padding: 5px 5px; border-radius: 5px;" class="fa fa-paint-brush" aria-hidden="true"></i>
            <%= category %>
        </div>
        <% @books[category].each do |book| %>
            <div>
                <div class="imgcontainer">
                    <% if book.image_link? %>
                        <img src=<%= book.image_link %>>
                    <% else%>
                        <img src=<%= asset_path 'book.png' %>>
                    <% end %>
                    <div class="imgbutton" onclick="showBook(<%= book.id %>);">
                        <button class="aa" id="viewBookBtn1">view details</button>
                    </div>
                </div>
                <p align="center"><%= book.title %></p>
            </div>
        <% end %>
    </div>
<% end %>