<%= render "shared/form_home" %>
<%= form_for @user_session do |f| %>
    <div class="modal" id="loginForm">
    <!-- Modal content -->
        <div class="modal-content" id="loginContent">
            <span class="close" onclick="hideLoginForm()">
                &times;
            </span>
            <%= render 'shared/errors', object: @user_session %>
            <%= f.label :email , class: 'labelInput' %>
            <%= f.email_field :email, required: true, placeholder: 'Enter Email', class: 'loginInput' %>
            <%= f.label :password, class: 'labelInput'%>
            <%= f.password_field :password, required: true, placeholder: 'Enter Password', class: 'loginInput' %>
            <%= f.check_box :remember_me, style: "float: right; position:relative; left: -65%;", class: 'checkBox' %>
            <%= f.label :remember_me , class: 'labelRemember' %>
            <%= f.submit "Login", style: 'font-size: 18px; height: 100%; color:  #0068CB; border-color: #0068CB;', class: ' button loginButton' %>
      	</div>
    </div>
<% end %>